.outer{
    background-color:'#FFFAFD'
}

.image{
    height:100vh;
    background-image: url('../../resources/images/Ellipse\ 249.svg');
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inner-image{
    width: 380px;
    height: 380px;
    border-radius: 50%;
}