.image1{
    background-image: url('../../resources/images/Rectangle\ 9470.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image2{
    background-image: url('../../resources/images/Rectangle\ 9445.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}